img {
  width: 100%;
  height: 800px;

}
.navbar {
  background-color: #4700D8;
}
#features{
  text-align: center;
  background-color: #fff;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;

}

#video {
  text-align: center;
}
