*{
  margin: 0;
  padding:0;
}
.img{
  background-image: url("nature2.jpeg");
  background-repeat: repeat;
  background-size: cover;
  width:100%;
<<<<<<< HEAD
  height: 600px;
  
=======
  height: 800px;
>>>>>>> 1660556f852a713ee7a3312b92f8ca06d2def48f
}

.img h1{
  color: white;
  text-align: center;
  padding-top: 250px;
  padding-left: 20%;
  padding-right:20%;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

#img card{
  color: white;
  padding-top: 250px;
  padding-left: 20%;
  padding-right:20%;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #4700D8;
}

.footer{
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: grey;
}
#features{
  text-align: center;
  background-color: #fff;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;

}

#sec {
  padding-top: 80px;
  padding-bottom: 80px;
}

#video {
  text-align: center;
}

#footer { 
  text-align: center;
  margin-top: 80px;
  
}

#footer .li{
  padding: 10px;
}

@media screen and (max-width: 576px){
    .ab{

    margin:auto;
    text-align: center;
}}

