.img{
  background-image: url("nature1.jpeg");
  background-repeat: repeat;
  background-size: cover;
  width:100%;
  height: 600px;
}

.img h1{
  color: white;
  text-align: center;
  padding-top: 250px;
  padding-left: 20%;
  padding-right:20%;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

#footer { 
  text-align: center;
  margin-top: 80px;
  
}

#footer .li{
  padding: 10px;
}